
@{
    ViewBag.Title = "BitCalculator";
}

<h2>BitCalculator</h2>

@using (Html.BeginForm("BitCalculator", "Calculator", FormMethod.Post))
{
    @Html.Label("Quantity");
    @Html.TextBox("Quantity");
    @Html.Label("Type");
    @Html.DropDownList("Type", ViewBag.Types as SelectList);
    @Html.Label("Kilo");
    @Html.DropDownList("Kilo", ViewBag.Kilos as SelectList);
    <p>
        <input type="submit" value="GO" />
    </p>

    if (ViewBag.Results != null)
    {
        <table>
        @for (int i = 0; i < ViewBag.Results.Length; i++)
        {
            <tr>
                <td>@ViewBag.Results[i]</td>
            </tr>
        }
    </table>    
    }
    
}
@Html

